## Train the Face3DMMFormer without use the one-hot speaker id

exp_name: full_model

log_dir: work_dir/AAAI/train_one_hot_3dmmformer
test_mode: False

checkpoint_path: null

teacher_forcing: False

model_name: Face3DMMFormer

model:
  type: Face3DMMFormer
  params:
    feature_dim: 1024
    period: 25
    vertice_dim: 64
    teacher_forcing: False

face3dmm_loss:
  supervise_vertices: True
  use_mouth_mask: True

trainer:
  max_epochs: 20 # 120
  check_val_every_n_epoch: 1
  val_check_interval: 0.25 # [0.0, 1.0]
  num_sanity_val_steps: 0


lr: 0.0001
wd: 0.0
lr_decay_step: 20
lr_decay_rate: 0.8

dataset:
  batch_size: 1
  number_workers: 6

  train:
    type: Face3DMMOneHotDataset
    params:
      data_root: ./data/HDTF_preprocessed
      split: data/train.txt
      fetch_length: 100
      fetch_stride: 100

    dataloader_params:
      batch_size: 1
      shuffle: True
      number_workers: 6
  
  val:
    type: Face3DMMOneHotDataset
    params:
      data_root: ./data/HDTF_preprocessed
      split: data/train.txt
      fetch_length: 100
      fetch_stride: 100
    
    dataloader_params:
      batch_size: 1
      shuffle: False
      number_workers: 6

  # audio_path: data/HDTF_preprocessed/WRA_KristiNoem0_000/WRA_KristiNoem0_000.wav
  audio_path: data/audio_samples/Silence.wav


  data_root: ./data/HDTF_face3dmmformer
  video_name: train/WDA_ChrisMurphy0_000
  training_split: data/HDTF_face3dmmformer/train.txt
