exp_name: female_audio

checkpoint_dir: work_dir/demo
test_mode: True

model_name: Face3DMMOneHotFormer

checkpoint: null

max_epochs: 200
check_val_every_n_epoch: 1

lr: 0.0001
wd: 0.0
lr_decay_step: 20
lr_decay_rate: 0.8

dataset:
  dataset_name: Face3DMMOneHotDataset
  data_root: ./data/HDTF_face3dmmformer
  batch_size: 1
  fetch_length: 600
  fetch_stride: 600
  # audio_path: data/HDTF_preprocessed/WRA_JoniErnst1_000/WRA_JoniErnst1_000.wav
  # audio_path: data/HDTF_preprocessed/WRA_KristiNoem0_000/WRA_KristiNoem0_000.wav
  # audio_path: data/audio_samples/remember_me.wav
  # audio_path: data/audio_samples/driven_audio/RD_Radio31_000.wav
  audio_path: data/audio_samples/driven_audio/RD_Radio34_002.wav
  # video_name: train/WDA_KimSchrier_000
  video_name: train/WDA_ChrisMurphy0_000
  training_split: train
  number_workers: 6

visualizer:
  deep3dface_dir: ./data/HDTF_face3dmmformer/train/WDA_KimSchrier_000/deep3dface

teacher_forcing: false

Face3DMMFormer:
  dataset: vocaset
  feature_dim: 1024
  period: 25
  num_speakers: 8 # for one-hot identities embedding
  vertice_dim: 64
  use_mouth_mask: False
